dsc_signer_working.tar
/node_modules
/electron-app/node_modules
/electron-app/dist
/electron-app/release
/.env
/electron-app/bin/
client/dsc-agent-config.js
/electron-app/runtime
/build-artifacts
/dist
/electron-app/build-artifacts
